<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <script src="https://cdn.ckeditor.com/4.14.0/full-all/ckeditor.js"></script>
    <title>my questions</title>

</head>
<style>
    * {
        font-family: san-seriff;
        font-size: 16px;
    }
</style>

<body>
    <div class="container-fluid position-fixed" style="z-index: 5;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
            <a href="#" class="text text-danger font-weight-bold text-decoration-none" style="font-family: monospace; font-size: 2em;">sharpMindBlog</a>
            <button style="outline: none; border-style:none;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{url_for('users.home')}}"><span class="fa fa-home"></span> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('users.logout')}}"><span class="fa fa-sign-out"></span> sign out</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        my profile
                    </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <img src="https://gravatar.com/avatar/{{user.url}}?s=80&d=monsterid" class="rounded-circle ml-3" alt="{{user.name}}"><span class="display-4 font-weight-bolder text-capitalize text-center">{{d}}</span>
                            <span><a class="dropdown-item" href="#">{{user.email}}</a></span>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{url_for('users.all_posts')}}">posts <span class="badge badge-danger mx-lg-5 ml-lg-5">{{count}}</span></a>
                            <a class="dropdown-item" href="{{url_for('users.account')}}">create posts</a>
                            <a class="dropdown-item" href="{{url_for('users.all_posts')}}">edit posts</a>
                            <a class="dropdown-item" href="{{url_for('users.all_posts')}}">delete posts</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('users.account')}}">account</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" method="POST" action="{{url_for('users.search')}}">
                    <input class="form-control mr-sm-2" type="search" required placeholder="enter post author's name" aria-label="Search" name="name" autocomplete="off">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search Author</button>
                </form>
            </div>
        </nav>
        <nav style="background-color: midnightblue;height: 10vh; width: 100%;">
            <ul class="d-flex" style="justify-content: space-around; margin-left: auto; width: 100%;">
                <li class="nav-item"><a class="nav-link text-light" id="v-pills-sports-tab" href="{{url_for('users.sports')}}">Sports</a></li>
                <li class="nav-item"><a class="nav-link text-light" id="v-pills-education-tab" href="{{url_for('users.education')}}">Education</a></li>
                <li class="nav-item"><a class="nav-link text-light" id="v-pills-programming-tab" href="{{url_for('users.programming')}}">Programming</a></li>
                <li class="nav-item"><a class="nav-link text-light" id="v-pills-technology-tab" href="{{url_for('users.technology')}}">Technology</a></li>
                <li class="nav-item"><a class="nav-link text-light" id="v-pills-mathematics-tab" href="{{url_for('users.mathematics')}}">mathematics</a></li>
                <li class="nav-item"><a class="nav-link text-light" id="v-pills-politics-tab" href="{{url_for('users.politics')}}">politics</a></li>
                <li class="nav-item"><a class="nav-link text-light" id="v-pills-entertainment-tab" href="{{url_for('users.entertainment')}}">Entertainment</a></li>
                <li class="nav-item"><a class="nav-link text-light" id="v-pills-question-tab" href="{{url_for('users.question')}}"> respond to questions</a></li>
            </ul>
        </nav>
    </div>
    <div class="container-fluid mb-5 position-absolute" style="top: 9em">
        <div class="row">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-6 col-md-12">
                {% with messages=get_flashed_messages(with_categories=true)%} {% if messages %} {%for category, message in messages%} {% if category %}
                <div class="alert alert-{{category}} alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert">&times;</button> {{ message }}
                </div>{%endif%} {%endfor%} {%endif%} {%endwith%} {%for question in quiz%}
                <p>{{question.question}}</p>
                <a href="{{url_for('users.editqn', id=question.id)}}" class="btn btn-primary"><span class="fa fa-pencil"></span> edit your post</a>
                <span><a href="{{url_for('users.deletequestion', id=question.id)}}" class="btn btn-danger"><span class="fa fa-trash"></span> delete your post</a>
                </span>
                <hr> {%endfor%}
            </div>
        </div>
    </div>
    <div class="col-lg-3">

    </div>
    </div>
    </div>
</body>
<script src="{{url_for('static', filename='js/jquery-3.4.1.min.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

</html>