<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <script src="https://cdn.ckeditor.com/4.14.0/full-all/ckeditor.js"></script>
    <title>my posts</title>

</head>
<style>
    * {
        font-family: san-seriff;
        font-size: 18px;
    }
</style>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
        <a href="#" class="text text-black-50 font-weight-bold text-decoration-none" style="font-family: monospace; font-size: 2em;">sharpMindBlog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('users.home')}}"><span class="fa fa-home"></span> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('users.logout')}}"><span class="fa fa-sign-out"></span> sign out</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                my profile
              </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <img src="https://gravatar.com/avatar/{{user.url}}?s=80&d=monsterid" class="rounded-circle ml-3" alt="{{user.name}}"><span class="display-4 font-weight-bolder text-capitalize text-center">{{d}}</span>
                        <span><a class="dropdown-item" href="#">{{user.email}}</a></span>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{url_for('users.all_posts')}}">posts <span class="badge badge-danger mx-lg-5 ml-lg-5">{{count}}</span></a>
                        <a class="dropdown-item" href="{{url_for('users.account')}}">create posts</a>
                        <a class="dropdown-item" href="{{url_for('users.all_posts')}}">edit posts</a>
                        <a class="dropdown-item" href="{{url_for('users.all_posts')}}">delete posts</a>
                    </div>
                </li>
                {%if user.Admin == True%}
                <li>
                    <a href="{{url_for('admin.dashboard')}}" class="nav-link"><span class="fa fa-cog"></span> dashboard</a>
                </li>
                {%endif%}
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('users.account')}}">account</a>
                </li>
                <li class="nav-item "><a style="cursor: pointer;" data-toggle="modal" data-target='#invite' class="nav-link">invite</a></li>
                <li class="nav-item"><a style="cursor: pointer;" class="btn btn-outline-secondary nav-link" data-toggle="modal" data-target='#question'>ask question</a></li>
            </ul>
            <form class="form-inline my-2 my-lg-0" method="POST" action="{{url_for('users.search')}}">
                <input class="form-control mr-sm-2" type="search" required placeholder="Search" aria-label="Search" name="name" autocomplete="off">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search posts</button>
            </form>
        </div>
    </nav>
    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-technology-tab" href="{{url_for('users.technology')}}">Technology</a>
                    <a class="nav-link" id="v-pills-sports-tab" href="{{url_for('users.sports')}}">Sports</a>
                    <a class="nav-link" id="v-pills-education-tab" href="{{url_for('users.education')}}">Education</a>
                    <a class="nav-link" id="v-pills-programming-tab" href="{{url_for('users.programming')}}">Programming</a>
                    <a class="nav-link" id="v-pills-mathematics-tab" href="{{url_for('users.mathematics')}}">mathematics</a>
                    <a class="nav-link" id="v-pills-politics-tab" href="{{url_for('users.politics')}}">politics</a>
                    <a class="nav-link" id="v-pills-entertainment-tab" href="{{url_for('users.entertainment')}}">Entertainment</a>
                    <a class="nav-link" id="v-pills-question-tab" href="{{url_for('users.question')}}" class="fa fa-question w-75 text-decoration-none"> respond to questions</a>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                </div>
                <div class="col-lg-6 col-md-9 bg-light">
                    <form method="POST">
                        <div class="form-group">
                            <label for="edit">edit your question</label>
                            <textarea class="form-control form-control-sm" cols="30" rows="10" autofocus name="edit">{{answer.answer}}</textarea>
                        </div>
                        <input type="submit" value="commit your changes" class="btn btn-outline-primary">
                    </form>
                </div>
                <div class="col-lg-3">
                </div>
            </div>
        </div>
    </div>


</body>
<script src="{{url_for('static', filename='js/jquery-3.4.1.min.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

</html>