<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <script src="https://cdn.ckeditor.com/4.14.0/full-all/ckeditor.js"></script>
    <title>my posts</title>

</head>

<body>
    <div class="container-fluid">
        <nav class="navbar-expand-sm pb-lg-2 pt-lg-2 shadow-sm">
            <ul class="navbar-nav">
                <li class="icon">
                    <a href="#" class="text text-black-50 font-weight-bold text-decoration-none" style="font-family: monospace; font-size: 2em;">sharpMindBlog</a>
                </li>
                <div class="mr-auto">

                </div>
                <li class="nav-item pl-4"><a href="{{url_for('home')}}" class="nav-link text-dark">Home</a></li>
                <li class="nav-item pl-4"><a href="{{url_for('account')}}" class="nav-link text-dark">Account</a></li>
                <li class="nav-item pl-4"><a style="cursor: pointer;" class="nav-link text-dark" data-toggle="modal" data-target="#invite">Invite</a></li>
                <li class="nav-item pl-4"><a href="{{url_for('logout')}}" class="nav-link text-dark">Sign out</a></li>
                <li class="nav-item pl-4"><a href="#" class="nav-link text-dark">About</a></li>
                <li class="nav-item pl-4"><a style="cursor: pointer;" class="btn btn-outline-secondary" data-toggle="modal" data-target='#question'>ask question</a></li>
                <li class="nav-item pl-4"><button class="btn btn-default">my profile <span class="badge-danger text-uppercase">{{abbr}}</span></button></li>
            </ul>
        </nav>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-3">
            </div>
            <div class="col-lg-6 col-md-9 bg-light">
                <form method="POST">
                    <div class="form-group">
                        <label for="title">edit your title</label>
                        <textarea name="title" id="title" cols="30" rows="5" class="form-control form-control-sm">{{post.title}}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="edit">edit your post</label>
                        <textarea class="form-control form-control-sm" cols="30" rows="10" autofocus name="edit">{{post.post}}</textarea>
                    </div>
                    <input type="submit" value="commit your changes" class="btn btn-outline-primary">
                </form>
            </div>
            <div class="col-lg-3">
            </div>
        </div>
    </div>

    <!--compplaints submission-->
    <div class="container bg-light mt-lg-5">
        <div class="form-group">
            <label for="name">enter your name</label>
            <input type="text" id="name" class="form-control form-control-sm" autocomplete="off" />
        </div>
        <div class="form-group">
            <label for="complaint"> submit your complaints and suggestions here</label>
            <textarea name="complaint" class="form-control form-control-sm" id="message" cols="50" rows="10">

            </textarea>
        </div>
        <button class="btn btn-primary" onclick="submit()"><span class="fa fa-paper-plane"> submit suggestions</span></button>
    </div>



</body>
<script src="{{url_for('static', filename='js/jquery-3.4.1.min.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

</html>